<?xml version="1.0"?>

<launch>
	<param name="/goal/target_pose/frame_id" value="map"/>
	<param name="/goal/target_pose/pose/orientation/w" value="1"/>
	
	<node name="callbacks_node" pkg="final_assignment" type="callbacks_node"/>
	<node name="service_node" pkg="final_srv" type="service_node"/>
	<node name="drive_node" pkg="final_assignment" type="drive_node"/>
</launch>
